ul.ul-list{
	list-style: none;
}
ul.ul-list li{
	float: left;
	margin: 10px;
	cursor: pointer;
}
ul.ul-list li label.active{
	font-size: 18px;
	font-weight: bold;
	color: blue;
	border-bottom: solid red;
	cursor: pointer;
}

ul.ul-list li label.nonactive{
	font-size: 18px;
	color: gray;
	cursor: pointer;
}