.card-content {
	padding: 0.5rem
}

.hoverCursor:hover{
	cursor: pointer;
}

.notifLabel {
	background: red;
	color: white;
	border-radius: 25px;
	padding-right: 5px; 
	padding-left: 5px;
}

.content .table-no-border th, .content .table-no-border td{
	border: 0px;
	padding: 2px;
}

/*slider*/
.slide-item img {
  padding-right: 0px !important;
  width: 100%;
  object-fit: cover;
}
.slick-next {
  right: 50px !important;
}
.slick-next:before, .slick-prev:before{
  font-size: 30px !important;
  color: #eaa664 !important;
}
.slick-prev{
  z-index: 999;
  left: 30px !important;
}
.slick-dots{
  bottom: 15px !important;
}
.slick-dots li button:before{
  font-size: 12px !important;
}
.slick-dots li.slick-active button:before{
  color: white !important;
  opacity: 0;
}