@charset "utf-8";
// Set your brand colors
$red: #ed1b2f;
// Update Bulma's global variables
$primary: $red;
// Update some of Bulma's component variables
$box-padding: 0.75rem;
// Import all bulma component / element
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-extensions/bulma-tooltip/dist/css/bulma-tooltip.sass";
